html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.2;
  //font-family: 'Noto Sans', sans-serif;
  //font-family: 'Open Sans', sans-serif;
  font-family: 'Questrial', sans-serif;
  color: #000;
}
a {
  color: inherit;
  //background: magenta;
  text-decoration: none;
  padding: 1%;
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  -ms-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
  &:hover {
    opacity: .6;
  }
}
#fullpage {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;

  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  #logo {
    width: 150px;
    display: block;
  }
  #t {
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    span {
      -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      -ms-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;

      font-size: 1.4rem;
      mark {
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;

        color: orangered;
        font-size: 1.8rem;
        background-color: transparent;
      }
    }
  }
  #contact {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;

    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 0;
    #links {
      display: flex;
      justify-content: space-around;
      font-size: 1.4rem;
      color: orangered;
    }
    ul {
      display: flex;
      margin-bottom: 4%;
      justify-content: space-around;
      list-style: none;
      font-size: 0.9rem;
      li {
        margin-right: 1%;
        a {
          .fa  {
            display: inline;
            margin-right: 2%;
            -webkit-transition: all 600ms ease-in-out;
            -moz-transition: all 600ms ease-in-out;
            -ms-transition: all 600ms ease-in-out;
            -o-transition: all 600ms ease-in-out;
            transition: all 600ms ease-in-out;
            &:hover {
              cursor: pointer;
              opacity: .6;
            }
          }
        }
      }
    }
  }
}