html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
  //font-family: 'Noto Sans', sans-serif;
  font-family: 'Open Sans', sans-serif;
  color: #000;
}
a {
  color: #000;
  text-decoration: none;
  padding: 0 1%;
  border: 1px solid #000;
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  -ms-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
}

#fullpage {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  #logo {
    width: 150px;
    display: block;
  }
  #t {
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    span {
      font-size: 1rem;
      text-align: justify;
      img {
        width: 100%;
        display: block;
        margin-top: 2%;
      }
      mark {
        color: magenta;
        font-size: 1.5rem;
      }
    }
  }
}