@import "partials/mixins";
@import "partials/nav";
@import "partials/contact-page";
@import "partials/profil";
@import "partials/projects";
@import "partials/footer";
@import "partials/quotes";
@import "partials/motio";
@import "partials/bottom-menu";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 1px;
  font-family: $mainFont;
  color: #333333;
  background: url("../fsimitchiev-site-bg.mp4");
}

a {
  color: inherit;
  opacity: .6;
  text-decoration: none;
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  -ms-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;

  &:hover {
    opacity: 1;
    color: $hoverColor;
    font-style: italic;
  }
}

#fullpage {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;

  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
  #logo {
    display: block;
    width: 130px;
    margin-left: auto;
    margin-right: auto;

    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;

  }
  h1 {
    text-align: center;
    font-size: 1rem;
    margin: 10px 0 50px 0;
    color: #F6F6F7!important;
  }
}