#intro {
  text-align: center;
  h1 {
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -ms-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    transition: all 600ms ease-in-out;
    span {
      font-size: 65%;
    }
    //&:hover {
    //  color: $hoverColor;
    //  cursor: pointer;
    //}
  }
}