#intro {
  text-align: center;
  #intro-gif {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  a {
    display: inline-block;
    margin-top: 200px;
    font-size: 1rem;
    padding: 1%;
    text-transform: uppercase;
  }
}