#projetsMenu {
  width: 50%;
  margin-top: 7%;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
  ul {
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    li {
      -webkit-transition: all 600ms ease-in-out;
      -moz-transition: all 600ms ease-in-out;
      -ms-transition: all 600ms ease-in-out;
      -o-transition: all 600ms ease-in-out;
      transition: all 600ms ease-in-out;

      position: relative;
      display: inline-block;
      &:hover {
        cursor: pointer;
        opacity: 1!important;
      }
    }
      li:after {
        content: '';
        display: block;
        margin: auto;
        height: 3px;
        width: 0px;
        background: transparent;
        transition: width .5s ease, background-color .5s ease;
      }
      li:hover:after {
        width: 100%;
        background: #333333;
      }
  }
}
#musique {
  text-align: center;
  ul {
    list-style: none;
    font-size: 4rem;
    text-align: center;
    li {
      a {
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  mark {
    background: none;
  }
}
#web {
  text-align: center;
  margin-top: 7%;
  p {
    font-size: 1.2rem;
    line-height: 1.4;
    text-align: justify;
    mark {
      font-size: 1.6rem;
      font-weight: bold;
      background: none;
    }
  }
  ul {
    list-style: none;
    font-size: 3rem;
    text-align: center;
    padding: 0;
    li {
      a {
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  footer p {
    font-size: 0.8rem!important;
    text-align: center;
  }
  mark {
    background: none;
  }
}